@import "tailwindcss";

@theme {
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-gray-950 text-gray-50 antialiased;
  }
}