apiVersion: v1
kind: Service
metadata:
  name: todo-backend
spec:
  type: {{ .Values.backend.service.type }}
  selector:
    app: todo-backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
