apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kafka-pubsub
  namespace: default
spec:
  type: pubsub.kafka
  version: v1
  metadata:
  - name: brokers
    value: "my-release-kafka.default.svc.cluster.local:9092"
  - name: authRequired
    value: "false"
  - name: disableTls
    value: "true"
